---
// src/components/Header.astro
---

<nav class="bg-yellow-500 p-4">
  <ul class="flex space-x-4">
    <li><a href="#home" class="text-white">Home</a></li>
    <li><a href="#services" class="text-white">Services</a></li>
    <li><a href="#contact" class="text-white">Contact</a></li>
    <li><a href="#about" class="text-white">About Us</a></li>
  </ul>
</nav>
